<a href="https://colab.research.google.com/github/ChristianMarcusGarcia/PLNG211-2-OLFU-QC/blob/main/Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If Statement

In [1]:
a=12
b=100
if b>a:
  print("b is greater than a")

b is greater than a

Elif Statements

In [12]:
a=12
b=12
if b>a:
  print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

Else statements

In [11]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
      print("a greater than b")

a greater than b

Short Hand if statement: if the statement is short, you can put it in the same line.

In [14]:
a=6
b=5
if a>b: print("a is greater than b")

a is greater than b

Short Hand if else

In [18]:
a=4
b=5
print("a is greater than b")if a>b else print("a is less than b")

a is less than b

And and or statement

In [23]:
a=200
b=33
c=500
if a>b and c>a:
 print("Both conditions are True")

if c>b or b>a:
 print("Atleast one of condition is True")

Both conditions are True
Atleast one of condition is True

Nested If

In [49]:
x=41
if x>10:
  print("Above ten,")
if x>20:
  print("and also above 20!")
  if x>30:
      print("And also above 30")
  else:
      print("But not above 40")
      if x>40:
       print("And also above 40")
      else:
       print("But not above 50")
else: 
  print("But not above 30.")

Above ten,
and also above 20!
And also above 30

Example 1

In [53]:
age=18

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

You are qualified to vote

w/ input method

In [58]:
print("Enter your age:")
age= int(input())
if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

Enter your age:
17
You are not qualified to vote

Loop Statement

In [59]:
week =["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

W/ break statement

In [62]:
week =["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)
  if x=="Thursday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 2

In [64]:
week =["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x=="Thursday":
   print(x) 
   break

Thursday

Looping through a String

In [68]:
for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

The range() Function

In [79]:
#for x in range(6):
 # print(x)
for x in range (0,6):
  print(x)

0
1
2
3
4
5

Nested Loops

In [86]:
adjective = ["red", "big", "tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python While Loops

In [89]:
i = 1
while i<=6:
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [102]:
#Example 3: while loop with break statement
i = 1
while i<=6:
   i+=1
   if i ==3:
    print(i)
    break

3

The continue Statement

In [107]:
i=0
while i<6:
  i+=1
  if i ==3:
    continue
  print(i)

1
2
4
5
6

Else statement in looping statement

In [108]:
i =1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6