<a href="https://colab.research.google.com/github/ChristianMarcusGarcia/PLNG211-2-OLFU-QC/blob/main/Phtyon_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Example 1
abs (-9)

abs(3.3)

3.3

In [8]:
#Example 2
pow(abs(-2), round (4.3))

16

In [7]:
#Example 3
int(34.6)

int(4.3)

float(21)

21.0

In [12]:
#Example 4
convert_to_celsius(212)

100.0

In [25]:
#Creating own function
def convert_to_celsius(fahrenheit):
  return(fahrenheit-32)*5/9

fahrenheit = int(input())
print("Fahrenheit to Celsius",round(convert_to_celsius(fahrenheit),2))

100
Fahrenheit to Celsius 37.78

In [30]:
#Create a function that will display three consecutive my_function values
def my_function(fname):
  print(fname + "Sayo")

my_function("Maria")
my_function("Rizette") 
my_function("Mam")

MariaSayo
RizetteSayo
MamSayo

In [32]:
#Returns a Value

def my_function(x):
  return 5 + x
print(my_function(3)) 
print(my_function(5))  
print(my_function(9))

8
10
14

In [40]:
#Exercise 1
print(min(2, 3, 4))
print(max(2,-3,4,7,-5))
print(max(2,-3,min(4,7), -5))

2
7
4

In [38]:
#Exercise 2
import math
def sum(f,s,t):
  return f + s + t
def ave(f,s,t):
  return (f + s + t)/3
def squared(f,s,t):
  return math.pow(f,2) + math.pow(s,2) + math.pow(t,2)

f = int(input())
s = int(input())
t = int(input())

print("Sum=", sum(f,s,t))
print("Average=", ave(f,s,t))
print("Sum of Squares=", squared(f,s,t))

2
3
4
Sum= 9
Average= 3.0
Sum of Squares= 29.0

In [37]:
#Application
#Create a formula of area of different shapes

def rectangle(l,w):
  return l*w
def square(s):
  return pow(s,2)

l=int(input())
w=int(input())
print(rectangle(l,w))

5
3
15